<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <%- include('header') -%>

    <hr />

<img src="https://avatars.githubusercontent.com/u/85398213?v=4" >
    <h2><%= name %></h2>

     <% user.map((data) => { %>
    <h6><%= data.name %></h6>
    <h6><%= data.email %></h6>

    <% }) %>
  </body>
</html>
